[is='flynt-block-artist-select'] {
  margin: 0;
  scroll-margin-top: 116px;

  .container-outer {
    border-bottom: 1px solid $green;
    display: grid;
    grid-template-columns: 25% 75%;
    margin-bottom: $container-padding;

    @media (max-width: $breakpoint-tablet-horizontal) {
      display: flex;
      flex-flow: column wrap;
      padding: 0;
    }

    .preContent {
      display: flex;
      height: fit-content;
      justify-content: flex-start;
      padding: $container-padding 0;
      width: 100%;

      @media (max-width: $breakpoint-tablet-horizontal) {
        border-bottom: 1px solid $green;
        margin-bottom: $container-padding;
      }
    }
  
    .grid {
      @include reset-list;
      column-gap: $container-padding;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      height: 100%;

      @media (max-width: $breakpoint-tablet-horizontal) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }

      @media (max-width: $breakpoint-mobile-horizontal) {
        display: flex;
        flex-flow: column wrap;
      }
    }
  
    .grid-item {
      padding: 0;
      width: 100%;
  
      @media (min-width: $breakpoint-tablet-horizontal) {
        padding: $container-padding 0;
        width: 100%;
      }
  
      .content {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 100%;
  
        &-header {
          align-items: flex-start;
          background-color: $green;
          display: flex;
          flex-direction: row;
          flex-grow: 1;
          // height: 160px;
  
          @media (min-width: $breakpoint-tablet-horizontal) {
            // height: 260px;
          }
  
          &-image {
            height: 100%;
            object-fit: cover;
            width: 100%;
          }
  
          &-inner {
            background-color: $green;
            height: 100%;
            width: 100%;
  
            h3 {
              padding: 0;
            }
          }
  
          &:hover {
            cursor: pointer;
            opacity: 0.8;
          }
  
        }
  
        &-footer {
          display: block;
          margin: 0;
  
          &-inner {
            padding-left: 0;
            padding-right: 0;
            padding-top: 0;
          }
        }
      }
    }

  }
}
