[is='flynt-block-artist-select'] {
  margin: 0;
  scroll-margin-top: 116px;

  .container-outer {
    border-bottom: 1px solid $green;
    display: grid;
    grid-template-columns: 25% 75%;
    margin-bottom: $container-padding;

    @media (max-width: $breakpoint-tablet-horizontal) {
      display: flex;
      flex-flow: column wrap;
      padding: 0;
    }

    .preContent {
      display: flex;
      height: fit-content;
      justify-content: flex-start;
      padding: $container-padding 0;
      width: 100%;

      @media (max-width: $breakpoint-tablet-horizontal) {
        border-bottom: 1px solid $green;
        margin-bottom: $container-padding;
      }
    }
  
    .grid {
      @include reset-list;
      // column-gap: $container-padding;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      height: 100%;
      padding-top: $container-padding;

      @media (max-width: $breakpoint-tablet-horizontal) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }

      @media (max-width: $breakpoint-mobile-horizontal) {
        display: flex;
        flex-flow: column wrap;
      }
    }
  
    .grid-item {
      // border-bottom: 1px solid $green;
      width: 100%;
  
      @media (min-width: $breakpoint-tablet-horizontal) {
        padding-bottom: $container-padding * 2;
        padding-right: $container-padding;
        width: 100%;
      }

      @media (min-width: $breakpoint-mobile-horizontal) {
        padding-bottom: $container-padding * 2;
        padding-right: $container-padding;
        width: 100%;
      }
  
      .content {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 100%;
  
        &-header {
          align-items: flex-start;
          background-color: $green;
          display: flex;
          flex-direction: row;
          flex-grow: 1;
          // height: 160px;
  
          @media (min-width: $breakpoint-tablet-horizontal) {
            // height: 260px;
          }
  
          &-image {
            height: 100%;
            object-fit: cover;
            width: 100%;
          }
  
          &-inner {
            background-color: $green;
            height: 100%;
            width: 100%;
  
            h3 {
              padding: 0;
            }
          }
  
          &:hover {
            cursor: pointer;
            opacity: 0.8;
          }
  
        }
  
        &-footer {
          display: block;
          margin: 0;
  
          &-inner {
            padding-left: 0;
            padding-right: 0;
            padding-top: 0;
          }
        }
      }
    }
  }

  .grid-item:hover .figure-image {
    filter: grayscale(0) contrast(1) blur(0);
    mix-blend-mode: initial;
  }

  .figure {
    background-color: $green;
    display: flex;
    flex: 1 1 100%;
    height: 100%;
    overflow: hidden;
    padding: 0;
    position: relative;
    

    &-image {
      filter: grayscale(100%) contrast(1) blur(0);
      flex: 1 0 100%;
      height: 41vh;
      mix-blend-mode: multiply;
      object-fit: cover;
      opacity: 1;
      position: relative;

      @media (max-width: $breakpoint-tablet-horizontal) {
        height: 35.5vh;
        object-fit: cover;
        width: 100%;
      }
  
      @media (max-width: $breakpoint-mobile-horizontal) {
        height: 42.5vh;
        object-fit: cover;
        width: 100%;
      }
    }

    &::before {
      background-color: $black;
      bottom: 0;
      content: '';
      height: 100%;
      left: 0;
      mix-blend-mode: lighten;
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
      z-index: 1;
    }
  }

  figcaption {
    display: none;
  }
}
