[is='flynt-block-filter'] {
  background-color: $black;
  border-bottom: 1px solid $green;
  padding-bottom: $container-padding;
  padding-top: $container-padding;
  position: sticky;
  top: 56px;
  z-index: 1000;

  ::-webkit-scrollbar {
    display: none;
  }

  @media (max-width: $breakpoint-tablet-horizontal) {
    border-top: 1px solid $green;
    padding-bottom: $container-padding / 2;
    padding-top: $container-padding / 2;
  }

  .grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;

    @media (max-width: $breakpoint-tablet-horizontal) {
      display: flex;
      flex-flow: row nowrap;
      overflow: scroll;
      padding: 0;
    }

    .filter {
      border-left: 1px solid $green;
      color: rgba($color: $green, $alpha: 0.5);
      flex-grow: 1;
      padding: 0;
      text-align: center;

      @media (max-width: $breakpoint-mobile-horizontal) {
        padding: 0 ($container-padding + 1px);
      }

      &:nth-last-child(1) {
        border-right: 1px solid $green;
      }

      &:hover {
        color: $green;
        text-decoration: none;
      }
    }
  }
}
