<div class="flyntComponent" is="flynt-block-filter">
    <div class="grid">
        <a class="filter" href="#filterA">A</a>
        <a class="filter" href="#filterB">B</a>
        <a class="filter" href="#filterC">C</a>
        <a class="filter" href="#filterD">D</a>
        <a class="filter" href="#filterE">E</a>
        <a class="filter" href="#filterF">F</a>
        <a class="filter" href="#filterG">G</a>
        <a class="filter" href="#filterH">H</a>
        <a class="filter" href="#filterI">I</a>
        <a class="filter" href="#filterJ">J</a>
        <a class="filter" href="#filterK">K</a>
        <a class="filter" href="#filterL">L</a>
        <a class="filter" href="#filterM">M</a>
        <a class="filter" href="#filterN">N</a>
        <a class="filter" href="#filterO">O</a>
        <a class="filter" href="#filterP">P</a>
        <a class="filter" href="#filterQ">Q</a>
        <a class="filter" href="#filterR">R</a>
        <a class="filter" href="#filterS">S</a>
        <a class="filter" href="#filterT">T</a>
        <a class="filter" href="#filterU">U</a>
        <a class="filter" href="#filterV">V</a>
        <a class="filter" href="#filterW">W</a>
        <a class="filter" href="#filterX">X</a>
        <a class="filter" href="#filterY">Y</a>
        <a class="filter" href="#filterZ">Z</a>
    </div>
</div>
