[is='flynt-grid-related-episodes'] {
  .preContent {
    margin-left: -12px;
    text-align: left;

    @media (max-width: $breakpoint-mobile-horizontal) {
      margin-left: 0;
    }
  }

  .grid {
    @include reset-list;
    column-gap: $container-padding;
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    height: fit-content;
    row-gap: $container-padding;
  }

  .grid-item {
    width: 100%;
  }

  .content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    &-image {
      background: $color-contrast;
      flex-shrink: 0; // IE11 bug fix (prevent image from stretchin')
      margin-bottom: $container-padding;
    }

    &-inner {
      @include reset-content-margins;
      color: $green;
      flex-grow: 1;

      #{$heading-selectors} {
        color: $green;
      }

      .content-inner-title {
        margin-top: $container-padding / 2;
      }

      .tags {
        // @include reset-list;
        display: flex;
        flex-flow: row wrap;
        gap: $container-padding;
        padding-left: 0;
    
        &-item {
          display: inline-block;
    
          &Link {
            color: $green;
          }
        }
      }
    }

    &-link {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      text-decoration: none;
    }

    // &-footer {
    //   align-items: center;
    //   align-self: flex-end;
    //   border-top: 1px solid $color-border;
    //   display: flex;
    //   justify-content: space-between;
    //   padding: 0 20px;
    //   width: 100%;

    //   .content-readMore {
    //     padding: 0.9rem 0 1.1rem;

    //     &::before {
    //       bottom: 1.1rem;
    //     }
    //   }

    //   @media (min-width: $breakpoint-tablet-horizontal) {
    //     padding: 0 30px;
    //   }
    // }
  }

  .allPostsLink {
    border-top: 1px solid $green;
    margin-top: $container-padding * 2;
  }
}
