[is='flynt-grid-related-episodes'] {
  border-top: 1px solid $green;

  .preContent {
    text-align: left;

    @media (max-width: $breakpoint-mobile-horizontal) {
      margin-left: 0;
    }
  }

  .grid {
    @include reset-list;
    column-gap: $container-padding;
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    height: fit-content;
    row-gap: $container-padding;
  }

  .grid-item {
    width: 100%;
  }

  .content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    &-image {
      background: $color-contrast;
      flex-shrink: 0; // IE11 bug fix (prevent image from stretchin')
      margin-bottom: $container-padding;
    }

    &-inner {
      @include reset-content-margins;
      color: $green;
      display: flex;
      flex-flow: column wrap;
      flex-grow: 1;
      
      #{$heading-selectors} {
        color: $green;
      }

      .content-inner-title {
        margin-bottom: $container-padding / 2;
      }

      .tags {
        // @include reset-list;
        display: flex;
        flex-flow: row wrap;
        gap: $container-padding;
        padding-left: 0;
    
        &-item {
          display: inline-block;
    
          &Link {
            color: $green;
          }
        }
      }
    }

    &-link {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      text-decoration: none;
    }
  }

  .allPostsLink {
    border-top: 1px solid $green;
    margin-top: $container-padding * 2;
  }

  .content-link:hover .content-image {
    filter: grayscale(0) contrast(1) blur(0);
    mix-blend-mode: initial;
  }

  .content-link {
    background-color: $green;
    display: flex;
    flex: 1 1 100%;
    height: 100%;
    overflow: hidden;
    padding: 0;
    position: relative;
    

    .content-image {
      filter: grayscale(100%) contrast(1) blur(0);
      flex: 1 0 100%;
      height: 56.5vh;
      margin-bottom: 0;
      mix-blend-mode: multiply;
      object-fit: cover;
      opacity: 1;
      position: relative;

      @media (max-width: $breakpoint-tablet-horizontal) {
        height: 34.5vh;
        object-fit: cover;
        width: 100%;
      }
  
      @media (max-width: $breakpoint-mobile-horizontal) {
        height: 43vh;
        object-fit: cover;
        width: 100%;
      }
    }

    &::before {
      background-color: $black;
      bottom: 0;
      content: '';
      height: 100%;
      left: 0;
      mix-blend-mode: lighten;
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
      z-index: 1;
    }
  }
}
