[is='flynt-grid-related-episodes'] {
  border-top: 1px solid $green;

  .preContent {
    text-align: left;

    @media (max-width: $breakpoint-mobile-horizontal) {
      margin-left: 0;
    }
  }

  .grid {
    @include reset-list;
    column-gap: $container-padding;
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    height: fit-content;
    row-gap: $container-padding;
  }

  .grid-item {
    width: 100%;
  }

  .content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    &-image {
      background: $color-contrast;
      flex-shrink: 0; // IE11 bug fix (prevent image from stretchin')
      margin-bottom: $container-padding;
    }

    &-inner {
      @include reset-content-margins;
      color: $green;
      flex-grow: 1;

      #{$heading-selectors} {
        color: $green;
      }

      .content-inner-title {
        margin-top: $container-padding / 2;
      }

      .tags {
        // @include reset-list;
        display: flex;
        flex-flow: row wrap;
        gap: $container-padding;
        padding-left: 0;
    
        &-item {
          display: inline-block;
    
          &Link {
            color: $green;
          }
        }
      }
    }

    &-link {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      text-decoration: none;
    }
  }

  .allPostsLink {
    border-top: 1px solid $green;
    margin-top: $container-padding * 2;
  }

  .content-image {
    height: 56.5vh;
    object-fit: cover;
    width: 100%;

    @media (max-width: $breakpoint-tablet-horizontal) {
      height: 34.5vh;
      object-fit: cover;
      width: 100%;
    }

    @media (max-width: $breakpoint-mobile-horizontal) {
      height: 43vh;
      object-fit: cover;
      width: 100%;
    }
  }
}
