<div class="flyntComponent" is="flynt-block-page-link">
  <div class="container">
    <div class="header">
        <a class="header-show" href="{{ pageLink|e }}">{{ pageTitle|e('wp_kses_post') }}</a>
      </div>
    </div>
  </div>
</div>
