[is='flynt-navigation-footer'] {
  p,
  a {
    color: $black;
    text-transform: uppercase;
  }

  .container {
    display: flex;
    flex-flow: row wrap;
    padding-bottom: $component-spacing-mobile;
    padding-top: $component-spacing-mobile;
    row-gap: $container-padding;
    text-align: left;

    .col-1 {
      order: 1;
      width: 50%;
    }

    .col-2 {
      order: 3;
      width: 100%;
    }

    .col-3 {
      order: 2;
      width: 50%;
    }

    @media (min-width: $breakpoint-tablet-horizontal) {
      column-gap: $container-padding;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 1fr;
      row-gap: 0;

      .col-1 {
        order: 1;
        width: 100%;
      }

      .col-2 {
        grid-column-end: 4;
        grid-column-start: 2;
        order: 2;
        width: 100%;
      }

      .col-3 {
        order: 3;
        width: 100%;
      }
    }
  }

  .content {
    @include reset-content-margins;
    margin: 0;

    @media (min-width: $breakpoint-tablet) {
      margin: 0;
    }
  }

  .credits-supporters {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    margin-top: $component-spacing-mobile;
    width: 50%;

    @media (max-width: $breakpoint-tablet-horizontal) {
      width: 100%;
    }

    .supporters {
      display: flex;
      flex-flow: column wrap;
      height: fit-content;
      justify-content: flex-end;
      width: 100%;
  
      &List {
        @include reset-list;
        display: flex;
        margin-top: $component-spacing-mobile/2;
        padding: 0;

        @media (max-width: $breakpoint-mobile-horizontal) {
          display: flex;
          flex-flow: column wrap;

          li {
            width: fit-content;
          }
        }

        figure {
          img {
            height: 30px;
            width: auto;
          }
        }
      }
    }

    .credits {
      align-items: flex-end;
      display: flex;
      width: 100%;

      @media (max-width: $breakpoint-mobile-horizontal) {
        margin-top: $component-spacing-mobile;
      }
      
      p {
        margin: 0;
      }
    }
  }

  @import 'Partials/menu';
  @import 'Partials/backtotop';
}
