[is='flynt-navigation-footer'] {
  p {
    color: $black;
  }

  .container {
    display: flex;
    flex-flow: row wrap;
    padding-bottom: $component-spacing-mobile;
    padding-top: $component-spacing-mobile;
    row-gap: $container-padding;
    text-align: left;

    .col-1 {
      order: 1;
      width: 50%;
    }

    .col-2 {
      order: 3;
      width: 100%;
    }

    .col-3 {
      order: 2;
      width: 50%;
    }

    @media (min-width: $breakpoint-tablet-horizontal) {
      column-gap: $container-padding;
      display: grid;
      grid-template-columns: calc(25% - 30px) 50% calc(25% - 30px);
      grid-template-rows: 1fr;
      row-gap: 0;

      .col-1 {
        order: 1;
        width: 100%;
      }

      .col-2 {
        order: 2;
        width: 100%;
      }

      .col-3 {
        order: 3;
        width: 100%;
      }
    }
  }

  .content {
    @include reset-content-margins;
    margin: 0;

    @media (min-width: $breakpoint-tablet) {
      margin: 0;
    }
  }

  @import 'Partials/menu';
  @import 'Partials/backtotop';
}
