[is='flynt-block-archive-episode-select'] {
  margin: 0;

  .container-outer {
    border-bottom: 1px solid $green;
    display: grid;
    grid-template-columns: 25% 75%;
    row-gap: $container-padding;

    @media (max-width: $breakpoint-tablet-horizontal) {
      display: flex;
      flex-flow: column wrap;
      padding: 0;
    }

    .preContent {
      display: flex;
      justify-content: flex-start;
      padding: $container-padding 0;
      width: 100%;

      @media (max-width: $breakpoint-tablet-horizontal) {
        border-bottom: 1px solid $green;
        margin-bottom: $container-padding;
      }
    }

    .grid {
      @include reset-list;
      // column-gap: $container-padding;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      height: 100%;
      padding: $container-padding 0;
      // row-gap: $container-padding;

      @media (max-width: $breakpoint-tablet-horizontal) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 0;
      }

      @media (max-width: $breakpoint-mobile-horizontal) {
        display: flex;
        flex-flow: column wrap;
        padding: 0;
      }
    }
  }

  .grid-item {
    padding-bottom: $container-padding * 3;
    padding-right: $container-padding;
    width: 100%;

    @media (max-width: $breakpoint-tablet-horizontal) {
      padding-top: 0;

      &:nth-child(even) {
        padding-right: 0;
      }

      &:nth-last-child(1) {
        border-bottom: 0;
      }
    }

    @media (max-width: $breakpoint-mobile-horizontal) {
      padding-right: 0;
      padding-top: 0;

      &:nth-last-child(1) {
        border-bottom: 0;
      }
    }

    .content {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      width: 100%;

      .episode-header {
        display: flex;
        flex-flow: column wrap;

        @media (max-width: $breakpoint-mobile-horizontal) {
          display: flex;
          flex-flow: column wrap;
        }
      }

      .tags {
        // @include reset-list;
        display: flex;
        flex-flow: row wrap;
        gap: $container-padding;
        justify-content: flex-start;
        padding-left: 0;

        &-item {
          display: inline-block;

          &Link {
            color: $green;
            text-decoration: none;
          }
        }
      }
    }
  }

  .grid-item:hover .figure-image {
    filter: grayscale(0) contrast(1) blur(0);
    mix-blend-mode: initial;
  }

  .figure {
    background-color: $green;
    display: flex;
    flex: 1 1 100%;
    height: 100%;
    overflow: hidden;
    padding: 0;
    position: relative;
    

    &-image {
      filter: grayscale(100%) contrast(1) blur(0);
      flex: 1 0 100%;
      height: 41vh;
      mix-blend-mode: multiply;
      object-fit: cover;
      opacity: 1;
      position: relative;

      @media (max-width: $breakpoint-tablet-horizontal) {
        height: 35.5vh;
        object-fit: cover;
        width: 100%;
      }
  
      @media (max-width: $breakpoint-mobile-horizontal) {
        height: 42.5vh;
        object-fit: cover;
        width: 100%;
      }
    }

    &::before {
      background-color: $black;
      bottom: 0;
      content: '';
      height: 100%;
      left: 0;
      mix-blend-mode: lighten;
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
      z-index: 1;
    }
  }
}
