<div class="flyntComponent flyntComponent--{{ options.size }} componentSpacing" is="flynt-block-video-oembed">
  <div class="container{% if options.size != 'sizeFull' %} centerMaxWidthContainer{% endif %}">
    {% include 'Partials/_video.twig' ignore missing with {video: video, image: posterImage} only %}
  </div>
</div>
