<div class="flyntComponent" is="flynt-block-video-oembed">
  <div class="container">
    {% include 'Partials/_video.twig' ignore missing with {video: video, image: posterImage} only %}
  </div>
</div>
