[is='flynt-block-post-header'] {
  .meta-category {
    color: $green;
    font-size: 20px;
    text-decoration: none;
  }

  .featuredImage {
    margin-bottom: $container-padding * 2;
  }

  .content {
    .episode-header {
      display: flex;
      flex-flow: row wrap;
      gap: 175px;
      justify-content: flex-start;


      &-title {
        color: $green;
        width: fit-content;
      }
    }

    .excerpt {
      color: $green;
      font-weight: normal;
    }
  }
}
