/* Custom styling for page Shows */

.page-shows {
  [is='flynt-block-show-grid'] {
    display: grid;
    grid-template-columns: 25% 75%;

    @media (max-width: $breakpoint-mobile-horizontal) {
      display: flex;
      flex-flow: column wrap;
    }

    .preContent {
      text-align: left;
      width: 100%;
    }

    .grid {
      column-gap: 20px;
      display: flex;
      flex-flow: column wrap;
      height: 100%;
      list-style: none;
      margin: 0;
      padding: 0 0 20px;
    }

    .figure-image {
      height: 600px;
      object-fit: cover;

      @media (max-width: $breakpoint-tablet-horizontal) {
        height: 300px;
      }
    }
  }
}
