/* Custom styling for page Live layout */

.page-live {

  margin: 0;

  &:nth-last-child(1) .container-outer {
    border-bottom: 0;
  }

  .headerBottom {
    border-bottom: 0 !important;
  }

  .mainContent {

    display: flex;
    flex-flow: column wrap;

    .flyntComponent:nth-child(1) {
      order: 1;
    }

    .flyntComponent:nth-child(2) {
      order: 3;
    }

    .flyntComponent:nth-child(3) {
      order: 4;
    }

    .preContent {
      // border-bottom: 1px solid $green;
      display: flex;
      justify-content: flex-start;
      margin-bottom: 0;
      padding: $container-padding 0;
      width: 100%;
  
      @media (max-width: $breakpoint-tablet-horizontal) {
        border-bottom: 1px solid $green;
        // margin-bottom: $container-padding-mobile;
        padding: $container-padding-mobile 0;
      }
    }
  
    .list-episodes {
      @include reset-list;
      display: flex;
      flex-flow: column wrap;
      // gap: $container-padding;
      order: 2;
      padding-bottom: $container-padding;
      padding-left: 0;
  
      @media (max-width: $breakpoint-tablet-horizontal) {
        gap: 0;
        padding-bottom: $container-padding-mobile;
      }
  
      @media (max-width: $breakpoint-mobile-horizontal) {
        padding-top: 0;
      }
    }

  }

  .list-episodes-item {
    border-top: 1px solid $green;
    padding-bottom: $container-padding;
    padding-top: $container-padding;
    width: 100%;
  
    @media (max-width: $breakpoint-mobile-horizontal) {
      border-bottom: 1px solid $green;
    }
  
    .content {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      // padding: $container-padding;
      margin-left: 25%;
      width: 75%;

      @media (max-width: $breakpoint-tablet-horizontal) {
        margin-left: 0;
        padding: 0 0 $container-padding 0;
        width: 100%;
      }
  
      @media (max-width: $breakpoint-mobile-horizontal) {
        display: flex;
        flex-flow: row-reverse wrap;
        margin-left: 0;
        padding: 0 0 $container-padding 0;
        width: 100%;
      }
  
      .episode-header {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 100%;
  
        @media (max-width: $breakpoint-mobile-horizontal) {
          display: flex;
          flex-flow: column wrap;
          width: 50%;
        }
  
        &-element {
  
          @media (max-width: $breakpoint-mobile-horizontal) {
            width: 100%;
          }
        }
  
        &-bigger {
          // border-bottom: 1px solid $green;
          display: flex;
          flex-flow: row wrap;
          justify-content: flex-start;

          @media (max-width: $breakpoint-tablet-horizontal) {
            justify-content: flex-end;
            margin-left: 60%;
            margin-top: 20px;
            padding-bottom: 20px;
            width: 40%;
          }
  
          @media (max-width: $breakpoint-mobile-horizontal) {
            border-bottom: 0;
            flex-flow: column wrap;
            margin-left: 0;
            margin-top: 0;
            width: 50%;
          }
        }
  
        .table-header {
          display: flex;
          flex-flow: column wrap;
  
          &-label {
            opacity: 0.5;
            padding-bottom: $container-padding;
  
            @media (max-width: $breakpoint-mobile-horizontal) {
              padding-bottom: 0;
            }
          }
        }
      }
  
      .tags {
        // @include reset-list;
        display: flex;
        flex-flow: row wrap;
        gap: $container-padding;
        justify-content: flex-start;
        padding-left: 0;
  
        &-item {
          display: inline-block;
  
          &Link {
            text-decoration: none;
            transition: none;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  
    hr {
      background-color: #cdfcc5;
      border: 0;
      display: block;
      height: 1px;
      margin-bottom: 0;
      margin-left: 23vw;
      margin-right: 0;
      margin-top: 0;
    }
  }

  .list-episodes-item:first-child .table-header-label {
    display: none;
  }
  
  .list-episodes-item:nth-child(1) .episode-header-bigger {
    border-top: 0;
  }
  
  .episode-header-bigger {
  
    @media (max-width: $breakpoint-mobile-horizontal) {
      margin-bottom: 0;
      padding-top: 0;
    }
    
    .h1 {
      margin-bottom: 0;
      margin-left: 0;

      &::after {
        color: $black;
        content: '▶';
        font-size: 180px;
        margin-left: 0;
        opacity: 0;
        transition: all 0.2s linear;

        @media (max-width: $breakpoint-tablet-horizontal) {
          display: none;
        }
      }

      &:hover {
        @media (min-width: $breakpoint-tablet-horizontal) {
          cursor: pointer;
  
          &::after {
            color: $green;
            content: '▶';
            font-size: 180px;
            margin-left: 200px;
            opacity: 1;
          }
        }
      }
  
      @media (max-width: $breakpoint-tablet-horizontal) {
        margin-bottom: 0;
        margin-left: 0;
        padding-top: 0;
      }
    }
  }
  
}
