$breakpoint-mobile-horizontal: 480px;
$breakpoint-tablet: 768px;
$breakpoint-tablet-horizontal: 1024px;
$breakpoint-desktop: 1280px;
$breakpoint-desktop-wide: 1440px;

$container-max-width: 100%;
$container-padding: 20px;
$container-padding-desktop: 20px;
$container-padding-tablet: 20px;
$container-padding-mobile: 20px;
$content-max-width: 100%;
$component-spacing: 20px;
$component-spacing-desktop: 20px;
$component-spacing-tablet: 20px;
$component-spacing-mobile: 20px;
$gutter-width: 20px;

$black: #000;
$green: #cdfcc5;

$color-brand: $green;
$color-accent: $black;
$color-background: $black;
$color-contrast: $green;
$color-text: $black;
$color-headline: $green;
$color-border: $black;

$color-background-light: #cdfcc5;
$color-background-dark: #000;
$color-background-hero: $color-background-light;

$heading-selectors: 'h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6';
$input-selectors: '[type="tel"], [type="url"], [type="text"], [type="date"], [type="email"], [type="search"], [type="number"], [type="password"], textarea, select';
