<div class="flyntComponent fullWidthContainer" is="flynt-block-info-show">
  <div class="grid-show-labels boxPaddingTopBottom">
    <p class="grid-show-labels-header">Show</p>
    <p class="grid-show-labels-header">Frequency</p>
    <p class="grid-show-labels-header">Next Episode</p>
  </div>
  <div class="grid-show boxPaddingTopBottom">
    <a class="grid-show-header" href="{{ showLink|e }}">{{ showTitle|e }}</a>
    <p class="grid-show-header">{{ showFrequency }}</p>
    <p class="grid-show-header">{{ showNextEpisode }}</p>
  </div>
</div>
