{% extends 'templates/_document.twig' %}

{% block content %}
  <article class="post">
    <header class="post-header">
      {{ renderComponent('BlockArtistHeader', { post: post }) }}
    </header>
    <section class="post-main">
      {% for component in post.meta('artistComponents') %}
        {{ renderComponent(component) }}
      {% endfor %}
    </section>
    <footer class="post-header">
      {{ renderComponent('BlockArtistFooter', { post: post }) }}
    </footer>
    {# <section class="post-related">
      <h1>Episodes</h1>
      {{ renderComponent('GridPostsArchive', {'preContentHtml': '<h1>' ~ __('Episodes') ~ '</h1>','taxonomies': post.terms('tag') }) }}
    </section> #}
  </article>
{% endblock %}
