[is='flynt-block-cookie-notice'] {
  bottom: 0;
  display: none;
  left: 0;
  position: fixed;
  right: 0;
  z-index: 999;

  .container {
    padding-bottom: $container-padding;
    padding-top: $container-padding;
  }

  .content {
    @include reset-content-margins;
    padding-bottom: $container-padding;

    p {
      color: $green;
    }
  }

  .button {
    background-color: $green;
    border-color: $green;
    color: $black;
    font-size: 20px;
  }

  &.cookieNotice--isVisible {
    display: block;
  }

  &.layoutBottom {
    @media (min-width: $breakpoint-tablet-horizontal) {
      .container {
        align-items: flex-end;
        display: flex;
        justify-content: space-between;
        padding-bottom: $container-padding;
        padding-top: $container-padding;
      }

      .content {
        padding-bottom: 0;
        padding-right: $container-padding;
      }
    }
  }

  &.layoutFloating {
    @media (min-width: $breakpoint-mobile-horizontal) {
      bottom: $container-padding;
      left: $container-padding;
      max-width: 380px;
      width: calc(100% - (#{$container-padding} * 2));

      .container {
        padding: $container-padding;
      }
    }
  }
}
