.preContent {
  opacity: 0.5;
  text-align: left;
}

.searchForm {
  &-field {
    border: 1px solid $color-background;
    display: flex;
    flex-direction: column;

    @media (min-width: $breakpoint-mobile-horizontal) {
      flex-direction: row;
      transform: translateY(-15px);
    }
  }

  &-box {
    flex-grow: 1;
  }

  &-input {
    border: 0;
    font-size: 20px;
    height: 100%;
    line-height: 1;
    margin: 0;
    min-height: 44px;
    outline: none;
    padding: 0;
    text-transform: uppercase;
    width: 100%;
  }

  &-submit {
    background-color: transparent;
    border: 0;
    border-radius: 0;
    color: $green;
    font-size: 20px;
    height: 56px;
    line-height: 1;
    padding: 0;

    &:hover {
      text-decoration: underline;
    }
  }
}
