.searchList {
  @include reset-list;
  column-gap: $container-padding;
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  &-item {
    border-bottom: 1px solid #ececec;
    position: relative;

    &:last-child {
      border: 0;
    }

    .post {
      padding: 0;
    }
  }
}

.post {
  @include reset-content-margins;

  &-footer {
    text-align: right;
  }
}

.featuredImage {
  img {
    aspect-ratio: 1/1;
    object-fit: cover;
  }
}

.noResults {
  text-align: center;
}
