.backToTop {
  bottom: 140px;
  position: absolute;
  right: $container-padding;
  transition: all 0.25s linear;

  @media (max-width: $breakpoint-tablet-horizontal) {
    display: none;
  }

  &:hover {
    cursor: pointer;
    transform: rotate(360deg);
  }
}
