<a class="backToTop" id="backToTop" href="#mainHeader">
  <svg xmlns="http://www.w3.org/2000/svg" width="20.701" height="10.885" viewBox="0 0 20.701 10.885">
    <path id="arrow" d="M21,1.175,10.825,11,1,1.175" transform="translate(21.347 11.701) rotate(180)" fill="none" stroke="#cdfcc5" stroke-width="2"/>
  </svg>
</a>
