[is='flynt-navigation-footer-columns'] {
  @import 'Partials/menu';
  padding-bottom: $component-spacing-mobile;
  padding-top: $component-spacing-mobile;

  @media (min-width: $breakpoint-tablet) {
    padding-bottom: $component-spacing-tablet;
    padding-top: $component-spacing-tablet;
  }

  + [is='flynt-navigation-footer'] .container {
    padding-top: 0;
  }

  .columns {
    column-gap: 0;
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: 1fr;
    row-gap: 0.5rem;
    width: 100%;

    @media (min-width: $breakpoint-tablet-horizontal) {
      column-gap: $container-padding;
      display: grid;
      grid-template-columns: 1fr 3fr 1fr;
      grid-template-rows: 1fr;
      row-gap: 0;
      width: 100%;
    }

    p {
      margin: 0;
    }
  }

  .social {
    @include reset-content-margins;
    margin-top: auto;
  }

  .socialList {
    @include reset-list;
    display: flex;
    justify-content: flex-start;

    &-item {
      display: inline-block;

      &:not(:last-child) {
        margin-right: 5px;
      }
    }

    &-link {
      box-sizing: content-box;
      display: block;
      height: 16px;

      &:hover,
      &:focus {
        svg {
          color: $color-accent;
        }
      }

      svg {
        color: $color-text;
        display: block;
        height: 100%;
        max-width: 20px;
        transition: color 0.2s ease;
        width: auto;
      }
    }
  }
}
