[is='flynt-navigation-footer-columns'] {
  @import 'Partials/menu';
  padding-bottom: $component-spacing-mobile;
  padding-top: $component-spacing-mobile;

  @media (min-width: $breakpoint-tablet) {
    padding-bottom: $component-spacing-tablet;
    padding-top: $component-spacing-tablet;
  }

  + [is='flynt-navigation-footer'] .container {
    padding-top: 0;
  }

  p,
  a {
    color: $black;
    text-transform: uppercase;
  }

  .columns {
    column-gap: 0;
    display: flex;
    flex-flow: row wrap;
    row-gap: 0.5rem;
    width: 100%;

    .col-1 {
      width: 100%;
    }

    .col-2 {
      width: 50%;
    }
    
    .col-3 {
      text-align: right;
      width: 50%;
    }

    @media (min-width: $breakpoint-tablet-horizontal) {
      column-gap: $container-padding;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 1fr;
      row-gap: 0;
      width: 100%;

      .col-1,
      .col-2,
      .col-3 {
        width: 100%;
      }

      .col-2 {
        grid-column-end: 4;
        grid-column-start: 2;
        width: 100%;
      }
    }

    p {
      margin: 0;
    }
  }

  .social {
    @include reset-content-margins;
    margin-top: auto;
  }

  .socialList {
    @include reset-list;
    display: flex;
    justify-content: flex-end;

    @media (min-width: $breakpoint-tablet-horizontal) {
      justify-content: flex-start;
    }

    &-item {
      display: inline-block;

      &:not(:last-child) {
        margin-right: 10px;
      }
    }

    &-link {
      box-sizing: content-box;
      display: block;
      height: 16px;

      &:hover,
      &:focus {
        svg {
          color: $color-accent;
        }
      }

      svg {
        color: $black;
        display: block;
        height: 100%;
        max-width: 20px;
        transition: color 0.2s ease;
        width: auto;
      }
    }
  }
}
