[is='flynt-grid-posts-latest'] {
  .preContent {
    margin-left: -12px;
    text-align: left;
  }

  .grid {
    @include reset-list;
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    height: fit-content;
  }

  .grid-item {
    width: 100%;
  }

  .content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    &-image {
      background: $color-contrast;
      flex-shrink: 0; // IE11 bug fix (prevent image from stretchin')
    }

    &-inner {
      @include reset-content-margins;
      color: $green;
      flex-grow: 1;

      #{$heading-selectors} {
        color: $green;
      }

      .content-title {
        margin-top: $container-padding;
      }
    }

    &-link {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      text-decoration: none;
    }

    // &-footer {
    //   align-items: center;
    //   align-self: flex-end;
    //   border-top: 1px solid $color-border;
    //   display: flex;
    //   justify-content: space-between;
    //   padding: 0 20px;
    //   width: 100%;

    //   .content-readMore {
    //     padding: 0.9rem 0 1.1rem;

    //     &::before {
    //       bottom: 1.1rem;
    //     }
    //   }

    //   @media (min-width: $breakpoint-tablet-horizontal) {
    //     padding: 0 30px;
    //   }
    // }
  }

  .allPostsLink {
    padding-top: 1.5rem;
    text-align: center;

    @media (min-width: $breakpoint-desktop) {
      padding-top: 3rem;
    }
  }
}
