[is='flynt-navigation-main'] {
  $navigation-height: 56px;

  display: none;

  @media (min-width: $breakpoint-tablet-horizontal) {
    display: block;
  }

  .wrapper {
    background-color: $color-background;
  }

  .headerTop {
    align-items: center;
    background-color: $green;
    display: flex;
    flex-flow: row wrap;
    height: $navigation-height;
    justify-content: flex-start;

    .menu-link-live {
      align-items: center;
      display: flex;
      width: 23vw;

      &::before {
        content: '⬤';
        font-size: 10px;
        margin-right: 20px;
      }
    }

    .menu {
      @include reset-list;
      align-items: center;
      display: flex;
      justify-content: space-between;
  
      &-item--current {
        .menu-link {
          color: $black;
        }
      }
  
      &-link {
        color: $black;
        font-size: 20px;
        padding: 0 10px;
        text-decoration: none;
        transition: color 0.2s ease-out;
  
        &:hover,
        &:focus {
          color: $color-accent;
        }
      }
    }
  }

  .container {
    border-bottom: 1px solid $green;
    display: flex;
    height: 100%;
    justify-content: space-between;
    margin: 0 $container-padding;
    padding-bottom: $container-padding;
    padding-top: $container-padding;
  }

  .logo {
    display: block;
    height: 100%;
    width: 100vw;

    &-image {
      height: 100%;
      width: 100%;
    }
  }
}
